.Rproj.user/
*.png
*.sqlite
local.makefile
inputs/*
outputs/*
figures/*
.Rhistory
fit_combined.qs
.DS_Store
data_fitting/.DS_Store
data_fitting/*.qs
data_fitting/*.rds
covidm/model_v2/*.o
covidm/build/*